.imgGrid {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .gridWrap{
    display: flex;
    flex: row nowrap;
  }
  
  .imgGrid img{
  width: 350px;
  height: 380px;
  }
  
  .textCen{
    position: relative;
    margin: 0 15px;
  
  }
  
  .text{
    position: absolute;
    z-index: 999;
    text-align: center;
    margin: auto 0;
    left: 0;
    right: 0;
    top: 75%;
    color: #fff;
    font-size: 24px;
  }
  