
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head img {
    margin-top: 70px;
     width: 350px;
}
.shipdets{
    text-align: center;
}

@media only screen and(max-width: 425px){
 .head img{
            width: 175px;
        }
}